*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'sans-serif';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./components/image.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
}

html{
  font-size: 62.5%;
}

table{
  margin: 5rem, auto;
  border-radius: 2rem;
  border: 1rem hidden #443c68;
  border-collapse: collapse;
  box-shadow: 0 0 0 1px #fff;
  overflow: hidden;
  max-width: 80rem;
}

li, p, a, td{
  font-size: 1.6rem;
  line-height: 1,6;
}

thead{
  font-size: 1.8rem;
  background-color: #443c68;
  color: #fff;
}

th, td{
  border: 1px solid #443c68;
  min-width: 30rem;
  padding: 1.5rem;
  line-height: 1.7;
}

td{
  font-size: 1.4rem;
  color: #ffffff;
}